.analytics-page {

    width: 100%;

    display: flex;

    flex-direction: column;

    gap: 28px;

}



.analytics-header h1 {

    color: white;

    font-size: 34px;

    margin-bottom: 8px;

}



.analytics-header p {

    color: #9BA4B5;

}




.analytics-cards {

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 22px;

}





.analytics-card {


    background: #171B22;

    border: 1px solid rgba(255, 255, 255, .08);

    border-radius: 22px;

    padding: 24px;

    display: flex;

    align-items: center;

    gap: 18px;

}



.analytics-icon {

    width: 60px;

    height: 60px;

    border-radius: 18px;

    background: #4F8CFF20;

    color: #4F8CFF;

    display: flex;

    justify-content: center;

    align-items: center;

}



.analytics-card p {

    margin: 0;

    color: #9BA4B5;

    font-size: 14px;

}



.analytics-card h2 {

    color: white;

    font-size: 32px;

    margin: 8px 0;

}



.analytics-card span {

    color: #22C55E;

    font-size: 14px;

}





.comparison-section {


    background: #171B22;

    border: 1px solid rgba(255, 255, 255, .08);

    border-radius: 22px;

    padding: 24px;


}



.comparison-section h2 {

    color: white;

    margin-bottom: 22px;

}




.comparison-table {

    display: flex;

    flex-direction: column;

    gap: 14px;

}





.comparison-head,
.comparison-row {


    display: grid;

    grid-template-columns: 3fr 1fr 1fr;

    align-items: center;

    padding: 0 14px;

}



.comparison-head {

    color: #9BA4B5;

    font-size: 14px;

}



.comparison-row {


    background: #1D232D;

    padding-top: 16px;

    padding-bottom: 16px;

    border-radius: 16px;

    color: white;

}



.comparison-row h4 {

    margin: 0;

}




@media(max-width:1200px) {

    .analytics-cards {

        grid-template-columns: repeat(2, 1fr);

    }

}



@media(max-width:700px) {

    .analytics-cards {

        grid-template-columns: 1fr;

    }

}